pinecone
streamlit>=1.26.0
langchain>=0.0.3
openai
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
chromadb==0.3.29
tiktoken
pysqlite3-binary
pandas
pyarrow>=10.0.1
bs4
openai_embeddings
